services:
  frontend:
    build:
      context: .
    ports:
      - "3000:80"
    networks:
      - aeroport-network

networks:
  aeroport-network:
    external: true
    name: aeroport_aeroport-network